.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 78%, rgb(6, 55, 139) 100%);
  color: white;
}

.title {
  display: flex;
  justify-content: center; 
}

.menu {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 24px;
  cursor: pointer;
}

.nav {
    display: none;
}

.menu.active .nav {
  display: block; 
}

.navTgl {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  left: 30px; 
  top: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  transition: backdrop-filter 0.3s ease;
  padding: 0;
  background: #000000;
  box-shadow: 0px 4px 24px rgba(0, 26, 255, 0.24);
  line-height: 0.6;
  text-align: center;
}

@media (max-width: 600px) {
  .navTgl {
    top: 5px;
    left: 5px;
    width: 45px;
    height: 45px; 
  }
  .title{
    margin-top: -4px;
    margin-bottom: -1px;
  }
}

.navTgl > span {
  display: inline-block;
  position: relative;
  height: 2px;
  width: 34px;
  border-radius: 1px;
  background: rgb(6, 55, 139);
  vertical-align: middle;
}

.navTgl > span:before,
.navTgl > span:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: rgb(6, 55, 139);
  transition: all 200ms;
}

.navTgl > span:before {
  top: -11px;
  left: 3px;
  width: 28px;
}

.navTgl > span:after {
  top: 11px;
  left: 6px;
  width: 22px;
}

.navTgl:focus {
  outline: none;
}

.navTgl:hover > span:after,
.navTgl:hover > span:before {
  width: 34px;
  left: 0;
}

.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  transition: all 500ms ease-in-out;
  clip-path: circle(30px at calc(0% + 55px) 55px);
  visibility: hidden;
  backdrop-filter: blur(10px);
}

.menu.active .nav:before { 
    visibility: visible;
    clip-path: circle(100%);
}

.menu.active .navTgl > span {
  height: 0;
}

.menu.active .navTgl > span:before,
.menu.active .navTgl > span:after {
  top: 0;
  left: 0;
  width: 34px;
}

.menu.active .navTgl > span:after {
  transform: rotate(-45deg);
}

.menu.active .navTgl > span:before {
  transform: rotate(45deg);
}

.nav ul {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 99;  
}

.nav ul li {
  margin: 15px 0;
  font-size: 24px;
  color: white;
  transition: color 300ms ease;
  margin-bottom: 35px;
}

.nav ul li:hover {
  color: rgb(3, 77, 205); 
}

@media (min-width: 600px) {
  .nav ul li:hover {
    font-size: 26px;
    transition: font-size 200ms;
  }
}

.header :global(button){
  position: absolute !important;
  top: 20px !important;
  right: 20px !important;
  background-color: #2020ff !important;
}

.header :global(button:hover) {
  background-color: #1616a0 !important;
}

.version {
  font-size: 14px; 
  color: #ffffff; 
  margin-bottom: 8px; 
  text-align: left;
  font-family: "courier";
}

@media (max-width: 600px) {
  .version {
    margin-left: -260px;
  }
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card {
  background-color: #1b1b1c;
  border-radius: 12px;
  padding: 20px;
  width: 400px;
  box-shadow: 
  0 -4px 12px rgba(0, 0, 0, 0.5),  
  0 4px 12px rgba(9, 75, 255, 0.5);
}

.card h1 {
  font-size: 24px auto;  
  text-align: center;
  margin-bottom: 20px;
  color: #fdfdfd;
}

.transaction {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input, .output {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #38383a;
  padding: 10px;
  border-radius: 8px;
}

.input label {
  font-size: 14px;
  color: #b3b3b3;
}

.output label {
  display: block; 
  font-size: 14px;
  color: #b3b3b3;
}

.input input{
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  padding: 5px 0;
}

.output input{
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  padding: 5px 0;
}


.input span {
  font-size: 14px;
  color: #7f7fff;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #38383a;
  border-radius: 8px;
}

.details div {
  display: flex;
  justify-content: space-between;
}

.details label {
  font-size: 14px;
  color: #b3b3b3;
}

.details span {
  font-size: 14px;
  color: white;
}

.logo {
  display: block;
  margin: 5px auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  image-rendering: crisp-edges;
}

.connectWalletWrapper :global(button) {
  text-align: center !important;
  width: 100% !important;
  background-color: #2020ff !important;
  color: white !important;
  border: none !important;
  border-radius: 8px !important;
  padding: 10px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  cursor: pointer !important;
  margin-top: 10px !important;
}

.connectWalletWrapper :global(button:hover) {
  background-color: #1616a0 !important;
}

.errorBox {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 50%; 
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  z-index: 1000;
  max-width: 300px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out, fadeOut 0.5s ease-in-out 4.5s;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 12px;
  margin-left:10px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.footer {
  padding: 20px;
  text-align: center;
  position: fixed;  
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

@media (max-height: 600px) {
  .footer {
    display: none;
  }
}

.footer img {
  margin-top: 1px;
}

